// 测试用的 iconfont，可生效
@import './iconfont.css';

/**
sard-ui自定义主题色
 */
page,
.sar-portal {
  // 全局主题变量及样式
  --text-color: #0f172a;
  --secondary-text-color: #475569;
  --third-text-color: #94a3b8;
  --bg-color: #f6f7fb;
  --bg-color-rgb: 246, 247, 251;

  --primary-color: #646cff;
  --primary-color-rgb: 100, 108, 255;
  --info-color: #2080f0;
  --info-color-rgb: 32, 128, 240;
  --success-color: #52c41a;
  --success-color-rgb: 82, 196, 26;
  --warning-color: #faad14;
  --warning-color-rgb: 250, 173, 20;
  --danger-color: #f5222d;
  --danger-color-rgb: 245, 34, 45;

  // 全局字体颜色
  color: var(--text-color);
  // 全局字体大小
  font-size: 30rpx;
  font-family: 'SF Pro Display', Roboto, Noto, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  // 全局背景颜色
  background-color: var(--bg-color);
  // 全局圆角
  --border-radius: 20rpx;

  // sard-ui自定义主题
  // # 主题色
  --sar-primary: var(--primary-color);
  --sar-secondary: var(--sar-gray-600);
  --sar-success: var(--success-color);
  --sar-info: var(--info-color);
  --sar-warning: var(--warning-color);
  --sar-danger: var(--danger-color);
  --sar-neutral: var(--sar-gray-700);

  // # 主题色 rgb
  --sar-primary-rgb: var(--primary-color-rgb);
  --sar-secondary-rgb: var(--sar-gray-600-rgb);
  --sar-success-rgb: var(--success-color-rgb);
  --sar-info-rgb: var(--info-color-rgb);
  --sar-warning-rgb: var(--warning-color-rgb);
  --sar-danger-rgb: var(--danger-color-rgb);
  --sar-neutral-rgb: var(--sar-gray-700-rgb);

  // 自定义圆角
  --sar-rounded: var(--border-radius);
  // 自定义导航栏字体颜色
  --sar-navbar-item-color: var(--text-color);
  // 自定义强调字体颜色
  --sar-emphasis-color: var(--text-color);
}

/*
border-t-1
由于uniapp中无法使用*选择器，使用魔法代替*，加上此规则可以简化border与divide的使用，并提升布局的兼容性
1. 防止padding和border影响元素宽度。 (https://github.com/mozdevs/cssremedy/issues/4)
2. 允许仅通过添加边框宽度来向元素添加边框。 (https://github.com/tailwindcss/tailwindcss/pull/116)
3. [UnoCSS]: 允许使用css变量'--un-default-border-color'覆盖默认边框颜色
*/
// 这个样式有重大BUG，先去掉！！(2025-08-15)
// :not(not),
// ::before,
// ::after {
//   box-sizing: border-box; /* 1 */
//   border-width: 0; /* 2 */
//   border-style: solid; /* 2 */
//   border-color: var(--un-default-border-color, #e5e7eb); /* 3 */
// }
