// 测试用的 iconfont，可生效
@import './iconfont.css';

:root,
page {
  // 全局主题色
  --text-color: #323232;
  --secondary-text-color: #656565;
  --third-text-color: #989898;
  --bg-color: #f5f7fa;
  --bg-color-rgb: 245, 247, 250;
  --primary-color: #3b82f6;
  --primary-color-rgb: 59, 130, 246;
  --success-color: #22c55e;
  --warning-color: #eab308;
  --danger-color: #ef4444;
  // 全局字体颜色
  color: var(--text-color);
  // 全局字体大小
  font-size: 28rpx;
  font-family: 'SF Pro Display', Roboto, Noto, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  // 全局背景颜色
  background-color: var(--bg-color);
  // 全局圆角
  --border-radius: 16rpx;
}

/**
sard-ui自定义主题色
 */
page,
.sar-portal {
  // # 主题色
  --sar-primary: var(--primary-color);
  --sar-success: var(--success-color);
  --sar-warning: var(--warning-color);
  --sar-danger: var(--danger-color);
  // 自定义主题色RGB值
  --sar-primary-rgb: var(--primary-color-rgb);
  // 自定义圆角
  --sar-rounded: var(--border-radius);
  // 自定义导航栏字体颜色
  --sar-navbar-item-color: var(--text-color);
  // 自定义强调字体颜色
  --sar-emphasis-color: var(--text-color);
}

/*
border-t-1
由于uniapp中无法使用*选择器，使用魔法代替*，加上此规则可以简化border与divide的使用，并提升布局的兼容性
1. 防止padding和border影响元素宽度。 (https://github.com/mozdevs/cssremedy/issues/4)
2. 允许仅通过添加边框宽度来向元素添加边框。 (https://github.com/tailwindcss/tailwindcss/pull/116)
3. [UnoCSS]: 允许使用css变量'--un-default-border-color'覆盖默认边框颜色
*/
// 这个样式有重大BUG，先去掉！！(2025-08-15)
// :not(not),
// ::before,
// ::after {
//   box-sizing: border-box; /* 1 */
//   border-width: 0; /* 2 */
//   border-style: solid; /* 2 */
//   border-color: var(--un-default-border-color, #e5e7eb); /* 3 */
// }
